body {
    font-size: 15pt;
    background-color: black;
    color: white;
    position: relative;
}

#canvas{
    filter: contrast(150%);
}
#uican{
    position: absolute;
    top: 0px;
    left: 0px;
}

.key{
    width: 80px;
    font-size: 50px;
    background-color: black;
    color: white;
    transition: all 0.2 ease;
}
.key:active{
    color: red;
}
.keyshow{
    font-size: 30px;
    background-color: black;
    color: gray;
}
.keybn{
    height: 80px;
    display: flex;
    justify-content: center;
    width: 1000px;
}